<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${Title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
</head>
<body>

<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <p class="h5 my-0 mr-md-auto font-weight-normal">VT Lab 5</p>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="https://github.com/Evgenrus/VTLab5">My GitHub</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Just a button</a>
</header>

<div class="container mt-5">
    <table class="table table-hover mt-2" border="3px solid black">
        <thead>
        <tr padding="3px">
            <th width="40%" padding="3px"> <h5 align="center">Имя студента</h5></th>
            <th padding="3px" width="5%"> <h5 align="center">ВТ</h5></th>
            <th padding="3px" width="5%"> <h5 align="center">ТВиМС</h5></th>
            <th padding="3px" width="5%"> <h5 align="center">ЭиФП</h5></th>
            <th padding="3px" width="5%"> <h5 align="center">ООП</h5></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="el : ${tables}" padding="3px">
            <th width="40%" padding="3px"> <h5 th:text="${el.studentName}"></h5></th>
            <th padding="3px" width="5%"><h5 align="center" th:text="${el.vtMark}"></h5></th>
            <th padding="3px" width="5%"><h5 align="center" th:text="${el.tvimsMark}"></h5></th>
            <th padding="3px" width="5%"><h5 align="center" th:text="${el.econMark}"></h5></th>
            <th padding="3px" width="5%"><h5 align="center" th:text="${el.oopMark}"></h5></th>
            <th padding="2px"><a class="btn btn-info" style="display: inline-block;" th:href="${el.id} + '/edit/'" type="submit">Изменить</a>
                <form style="display: inline-block;" th:action="${el.id} + '/del/'" method="post">
                <button class="btn btn-danger" type="submit">Удалить</button>
                </form></th>
        </tr>
        </tbody>

        <form action="/" method="post">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="60%"><input type="text" name="name" placeholder="Введите имя студента" class="form-control"><br></th>
                    <th><input type="number" name="vtmark" placeholder="Введите оценку" class="form-control"><br></th>
                    <th><input type="number" name="tvimsmark" placeholder="Введите оценку" class="form-control"><br></th>
                    <th><input type="number" name="econmark" placeholder="Введите оценку" class="form-control"><br></th>
                    <th><input type="number" name="oopmark" placeholder="Введите оценку" class="form-control"><br></th>
                </tr>
                </thead>
            </table>
            <button type="submit" class="btn btn-success">Принять изменения</button>
        </form>
</body>
</html>
